// =====================================================================================
// Global config
// =====================================================================================

// Font Stacks

$font-url--google		: 'https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900';
$font-family--primary	: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary	: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Descriptive Base Colors

$white		: #fff;
$black		: #0b0b0b;
$grey		: #797e83;
$green		: #00FF00;
$red 		: #CC0000;
$egg-sour	: #FFF4DD;
$energy-yellow	: #F8DD5C;
$emerald	: #50C878;

// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light 	: lighten($grey, 40%),
		x-light 	: lighten($grey, 35%),
		light 		: lighten($grey, 12%),
		base 		: $grey,
		dark 		: darken($grey, 8%),
		x-dark 		: darken($grey, 16%)
	),
	black: (
		light 		: lighten($black, 10%),
		base 		: $black,
		dark 		: darken($black, 10%)
	),
	white: (
		base 		: $white,
		dark 		: darken($white, 3%)
	),
	green: (
		light 		: lighten($green, 10%),
		base 		: $green,
		dark 		: darken($green, 10%)
	),
	red: (
		base 		: $red
	)
);

// Color Usage

$color-primary	: palette(grey, x-dark);

// Text
$small__font-size		: 14px;
$base__font-size		: 16px;
$medium__font-size		: 18px;
$large__font-size		: 20px;

$base__line			: 24px;
$letter-space		: 1px;

// Text for headlines

$hdln-prim__font-size	: 30px;
$hdln-sec__font-size	: 18px;

// Border radius

$br--default		: .4em;
$br--round			: 50%;

// Main width

$width__main		: 92%;

// Breakpoints

$brkpoint-sm	: 1px;
$brkpoint-md	: 768px;
$brkpoint-lg	: 1024px;