// ==========================================================================
// Container
// ==========================================================================

.container {
	background: palette(white);
	@include set-mp($padding: em(32px) 0 em(16px) 0);
	@include mq(medium) {
		margin-top: em(64px);
		@include set-mp($padding: 0 em(16px));
		padding-bottom: em(32px);
		@include flexbox;
		@include flex-flow(row wrap);
	}
}