// ==========================================================================
// Base Styles
// ==========================================================================

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-boz-sizing: border-box;
	box-sizing: border-box;
}

body {
	@include set-mp(0, 0);
	@extend %center-align;
	@include text($base__font-size, ($base__line/$base__font-size), $color: $color-primary);
	font-family: $font-family--primary;
	background: palette(white, dark);
}

// Text

h2 {
	@extend %hdln-sec;
};

a {
	text-decoration: none;
	color: $color-primary;
}

// Lists

ul {
	padding: 0;
}

li {
	list-style-type: none;
}