// ==========================================================================
// Placeholders
// ==========================================================================

// Main width

%main-width {
	width: $width__main;
}

// Headlines

%hdln-sec {
	text-transform: uppercase;
	font-size: 1em;
}