// ==========================================================================
// Placeholders
// ==========================================================================

// Center alignment

%center-align {
	text-align: center;
}

%margin-auto {
	margin: auto;
}

// Main width

%main-width {
	width: $width__main;
}

// Headlines

%hdln-sec {
	text-transform: uppercase;
	font-size: 1em;
}