// ==========================================================================
// Footer
// ==========================================================================

footer {
	@extend %main-width;
	@include elem-size($height: em(380px));
	@extend %margin-auto;
	h2 {
		@include set-mp($padding:em(32px) 0);
	}
	p {
		@include text($l-height: em(24px));
	}
}

.footer-content {
	@include mq(medium) {
		@include elem-size(70%);
		@include set-mp(em(24px) auto em(32px) auto);
		@include text(em(20px));
	}
}

.contact-items {
	@include text($l-height: em(40px));
	@include set-mp(em(24px) auto em(48px) auto);
}

.foot-footer {
	@include border(1px, solid, palette(grey, light), top);
	@include flexbox();
	@include justify-content(space-between);
	@include mq(medium) {
		margin-bottom: em(48px);
		@include text(em(18px));
		@include align-items(center);
	}
	@include mq(large) {
		@include set-mp(0);
	}
	p {
		@include set-mp(em(30px) 0);
		@include text(em(15px), $weight: bold);
		text-transform: uppercase;
		a:hover {
			@include text($color: palette(red));
			transition: 0.5s;
		}
	}

}

.mobile-nav {
	@include mq(medium) {
		display: none;
	}
}

.foot-nav {
	display: none;
	@include mq(medium) {
		@include flexbox;
	}
	a {
		@include mq(medium) {
			text-transform: uppercase;
			@include text(em(14px), $weight: bold);
		}
	}
	li {
		@include mq(medium) {
			@include set-mp($padding: 0 em(24px));
			@include border(2px, solid, palette(white, dark), bottom);
		}
	}
	li:hover {
		@include mq(medium) {
			@include border(2px, solid, palette(green, light), bottom);
			transition: 0.5s;
		}
	}
}