// ==========================================================================
// Footer
// ==========================================================================

footer {
	@extend %main-width;
	@include elem-size($height: em(380px));
	@extend %margin-auto;
	h2 {
		@include set-mp($padding:em(32px) 0);
	}
}

.footer-content {
	@include mq(medium) {
		@include elem-size(70%);
		@include set-mp(em(24px) auto em(32px) auto);
		@include text(em(20px));
	}
}

.contact-items {
	@extend %footer-contact;
}

.foot-footer {
	@extend %footer-foot;
}

.mobile-nav {
	@extend %none-dipslay-med;
}

.foot-nav {
	@extend %none-display;
	@include mq(medium) {
		@include flexbox;
	}
	a {
		@include mq(medium) {
			text-transform: uppercase;
			@include text(em(14px), $weight: bold);
		}
	}
	li {
		@include mq(medium) {
			@include set-mp($padding: 0 em(24px));
			@include border(1px, solid, palette(white, dark), bottom);
		}
	}
	li:hover {
		@include mq(medium) {
			@include border(1px, solid, palette(green, light), bottom);
			transition: 0.5s;
		}
	}
}