// ==========================================================================
// Headlines
// ==========================================================================

.headline {
	&-primary {
		margin-top: em(20px);
		@include mq(medium) {
			margin: 0;
		}
	}
	&-secondary {
		@include m(container) {
			@include mq(medium) {
				@include elem-size(100%);
				margin-top: em(40px);
			}
		}
	}
} 